body {
    background: linear-gradient(to bottom right, #FFE5E5, #D4F1F4);
  }
/* Header Component */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  img {
    width: 200px;
    height: auto;
  }
  
  h4 {
    font-size: 20px;
    text-align: center;
  }

  /* Search Component */
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem auto;
    width: 90%;
    max-width: 1200px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-right: 1rem;
  }
  
  .search-button {
    font-size: 1.2rem;
    margin-top: 2.3rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    background-color: #825bff; /* replace with desired itunes color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
  }  

  input:first-child {
    margin-top: 0.5rem;
    border: solid black;
  }

  label > span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  label > select {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  
  
  
  /* Display Component */
  .display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 1200px;
  }
  
  .display-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .display-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
  }
  
  .display-artwork img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .display-title h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.25rem;
  }
  
  .display-title h4 {
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
  }
  
  .display-items li {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 1%;
    vertical-align: top;
  }
  
  .display-items button {
    display: block;
    margin: 0 auto;
  }
  
  button {
    background-color: #cd4acf;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 1rem;
  }
  
  button:hover {
    background-color: #ff5d67;
  }
  
/* Favorites Component */
.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 1200px;
  }
  
  .favorite-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .favorite-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
  }
  
  .favorite-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .favorite-title h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.25rem;
  }
  
  .favorite-title h4 {
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
  }
  
  .favorite-items li {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 1%;
    vertical-align: top;
  }
  
  .favorite-items button {
    display: block;
    margin: 0 auto;
  }
  
  .favorite-items button {
    background-color: #1eccfc;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 1rem;
  }
  
  .favorite-items button:hover {
    background-color: #ff5d67;
  }